Skipped data-uri embedding of ../img/k.jpg because its size (144059 characters) exceeds IE8-safe 32768 characters!
.a,
.k {
  color: red;
}
.a {
  color: red;
}
.b {
  color: red;
}
#b {
  color: red;
}
b {
  color: red;
}
b[b='x'] {
  color: red;
}
.a .b .c, .d.d ~ .e + .f {
  color: red;
}
div > p > span {
  color: red;
}
.a + b,
.a .b .c, .d.d ~ .e + .f:hover {
  color: red;
}
.a-b {
  color: red;
}
.a,
.k {
  background: url("../images/a.png");
}
.a,
.k {
  height: 30px;
  line-height: 30px;
  max-height: 30px;
  color: red;
}
div {
  color: red;
}
.a,
.k {
  height: 1;
}
.a .b {
  height: 22;
}
div {
  color: #cc0000;
}
a:hover:active {
  color: red;
}
.g,
.h,
.j,
.j {
  color: red;
}
.i,
.h,
.j,
.j {
  height: 0;
}
.i .ii {
  border: none;
}
.h,
.j {
  width: 0;
}
.j {
  font-size: 12px;
}
.gg,
.hh {
  color: red;
}
.gg .gg-2 {
  font-size: 5px;
}
li.list > a,
button.list-style {
  color: red;
}
.k {
  color: red;
}
.mx1 {
  color: red;
}
.mx1 .mx-2 {
  color: blue;
}
.btn {
  color: red;
}
.btn:hover {
  color: blue;
  font-size: 14px;
}
.xfc .a {
  my: 111;
  in: 111;
}
.xfc .a .on {
  in: 111;
}
.xfc .on {
  out: 111;
}
.r {
  p1: 11;
  p2: 22;
  p3: ppp;
}
.r *::before {
  content: ' ';
}
/*
.mixin() {}           -> 0
.mixin(@a) {}         -> 1
.mixin(@a:a) {}       -> 0~1
.mixin(@a:a, ...) {}  -> 0~n
.mixin(@a, ...) {}    -> 1~n
.mixin(...) {}        -> 0~n
*/
.a,
.k {
  p: 333;
}
.b {
  p: 111;
  p: 222;
}
.grc {
  exp: 60;
  d-exp: 30;
  exp: "35";
  exp: 55;
  exp: #fff;
  t-exp: true;
}
.lp {
  width: 1px;
  width: 2px;
  width: 3px;
  width: 4px;
  width: 5px;
  width: 6px;
  width: 7px;
  width: 8px;
  width: 9px;
  width: 10px;
}
.lp .column-1 {
  width: 8.33333333%;
}
.lp .column-2 {
  width: 16.66666667%;
}
.lp .column-3 {
  width: 25%;
}
.lp .column-4 {
  width: 33.33333333%;
}
.lp .column-5 {
  width: 41.66666667%;
}
.lp .column-6 {
  width: 50%;
}
.lp .column-7 {
  width: 58.33333333%;
}
.lp .column-8 {
  width: 66.66666667%;
}
.lp .column-9 {
  width: 75%;
}
.lp .column-10 {
  width: 83.33333333%;
}
.lp .column-11 {
  width: 91.66666667%;
}
.lp .column-12 {
  width: 100%;
}
.mg {
  box-shadow: 0 0 10px red, 0 0 20px blue;
  background-position: 0 0, 2px 2px, 4px 4px;
  transform: scale(1) skew(30deg);
}
.mode-auto {
  p: 1;
}
.mode-cool {
  p: 2;
}
.mode-wind {
  p: 3;
}
.ls-auto {
  p: auto;
}
.ls-cool {
  p: cool;
}
.ls-hot {
  p: hot;
}
.ls-wind {
  p: wind;
}
.fn {
  p: 2;
  p: 1.13;
  p: 3.14159265;
  p: 1;
  p: 0.5;
  p: 0.51503807;
  p: 8;
}
.type-fn {
  p1: true;
  p2: true;
  p3: true;
  p4: true;
  p5: true;
  p6: true;
}
.str {
  p1: %E4%B8%AD%E5%9B%BDa%3D1&b%3D1;
  p2: 111;
  p3: %23fff;
  p4: "1-name-中国";
  p5: "1-name-%E4%B8%AD%E5%9B%BD";
  p6: "1-name-"中国"";
  p7: "This is a Good boy!";
  p8: #ffffff;
  p9: 2.54cm;
  p10: 96px;
  p11: 1.33333333px;
  p12: 3.77952756px;
  p13: 1vh;
  p14: 1em;
  p15: 400px 600px;
  p16: 730px;
  p17: url("../img/k.jpg");
}
.str div {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%220%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ff0000%22%2F%3E%3Cstop%20offset%3D%2230%25%22%20stop-color%3D%22%23008000%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%230000ff%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
.color {
  h1: 287;
  s1: 60%;
  l1: 47%;
  r1: 160.599;
  g1: 47.94;
  b1: 191.76;
  a1: 0.5;
  luma1: 6.71980523%;
  luminance1: 16.132374%;
  h2: 286.66666667;
  s2: 60%;
  l2: 47.05882353%;
  r2: 160;
  g2: 48;
  b2: 192;
  a2: 0.8;
  luma2: 10.71460726%;
  luminance2: 25.7907451%;
  h3: 286.66666667;
  s3: 60%;
  l3: 47.05882353%;
  r3: 160;
  g3: 48;
  b3: 192;
  a3: 1;
  luma3: 13.39325907%;
  luminance3: 32.23843137%;
  spin30: rgba(192, 48, 151, 0.5);
  saturate10: rgba(167, 36, 204, 0.5);
  desaturate20: rgba(147, 72, 168, 0.5);
  lighten10: rgba(183, 80, 211, 0.5);
  darken20: rgba(92, 28, 110, 0.5);
  fade50: rgba(161, 48, 192, 0.5);
  fadein10: rgba(161, 48, 192, 0.6);
  fadeout20: rgba(161, 48, 192, 0.3);
  mix: #800080;
  tint: #ff8080;
  shade: #000080;
  greyscale: #808080;
  contrast: #ffffff;
}
.color .adv {
  multiply: #331400;
  screen: #ff8533;
  overlay: #ff2900;
  softlight: #ff4100;
  hardlight: #662900;
  difference: #cc3333;
  exclusion: #cc7033;
  average: #994d1a;
  negation: #cc9933;
}
.x .btn,
.btn2 {
  color: red;
}
.btn2 {
  bgc: blue;
}
.t {
  line-height: 1;
  line-height: 2;
  line-height: 3px;
}
.pd {
  padding: 0 12px;
}
.bgt {
  background: url('../imgages/dialog-close-btn-default.png') 0 0 no-repeat;
  background: url('a.jpg') 0 0 no-repeat, url('b.jpg') 0 0 no-repeat;
}
.fd {
  color: rgba(136, 136, 136, 0.5);
}
